body,
html {
  width: 100%;
  height: 100%;
  // font-size: calc(25px + 2vmin);

  #root {
    width: 80%;
    height: 100%;
    padding: 5%;
    margin: 5%;
  }

  #page-background {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    #transactions-list {
      width: 90%;
      height: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;


      .grid {
        height: 40%;
        width: 40%;
      }
    }

    #action-buttons {
      height: 10%;
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .action-button {
        border-radius: 5px;
        height: 60%;
        width: 40%;
      }
    }

  }

}